[Desktop Entry]
Name=Invoice Processing Pipeline
Exec=sh -c "$HOME/invoice_processing_pipeline/start.sh"
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Office;
